.blog{
    background-attachment: fixed;
    background: url(/Kendall-HairSaloon/home2-parallax-2\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    padding: 150px;
    text-align: center;
    color: whitesmoke;
}
.blog button{
    color: whitesmoke;
    background: linear-gradient(to right, #B4903A, #957122, #D5B67A);
    padding: 15px 30px;
    margin: 15px 0px;
    font-size: 18px;
    animation: animate linear 2s infinite;
    cursor: pointer;
    border-radius: 3px;
    border-color: transparent;
}
@keyframes animate {
    50%{
        opacity: 0.5;
    }
}
.blog p{
    padding: 15px 0px;
}
.blog button:hover{
    background: transparent;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to right, #B4903A, #957122, #D5B67A);
}